body {
  background-color: rgb(6, 110, 96);
  color: white;
  font-family: "Departure Mono", monospace;
  margin: 0;
  padding: 0;
}

header {
  background-color: rgb(19, 75, 160);
  padding: 20px;
}

.titulo {
  text-align: center;
  text-decoration: underline;
}

h1 {
  text-align: center;
}

#contenedor {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 20px 0px 20px 20px;
  border: 2px solid white;
  background-color: rgb(19, 75, 160);
  padding: 30px;
  margin-top: 30px;
  margin-inline: auto;
  width: 400px;
  animation: reveal 0.8s cubic-bezier(0.2, 0.8, 0.2, 1) backwards;
}

@keyframes reveal {
  from {
    opacity: 0;
    transform: translateY(30px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

form {
  display: flex;
  flex-direction: column;
  width: 100%;
}

label {
  margin-top: 10px;
  font-weight: bold;
}

input,
select {
  border: 1px solid black;
  border-radius: 6px;
  color: black;
  padding: 10px;
  margin-top: 5px;
  font-family: Arial, sans-serif;
}

button {
  border: 1px solid rgba(0, 0, 0, 0.2);
  font-family: "Departure Mono", monospace;
  text-transform: uppercase;
  font-weight: bold;
  color: black;
  padding: 15px 25px;
  border-radius: 12px;
  transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
  margin-top: 20px;
  background-color: white;
  cursor: pointer;
  box-shadow: 4px 4px 0px 0px black;
}

button:hover {
  box-shadow: 6px 6px 0px black;
  transform: translate(-2px, -2px);
}

button:active {
  transform: translate(2px, 2px);
  box-shadow: 2px 2px 0px black;
}

/* Modal Styles */
.modal {
  display: none; /* Hidden by default */
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  justify-content: center;
  align-items: center;
}

.modal.show {
  display: flex;
}

#modal-content {
  background-color: rgb(19, 75, 160);
  padding: 30px;
  border: 2px solid white;
  border-radius: 20px 0px 20px 20px;
  width: 300px;
  text-align: center;
  box-shadow: 10px 10px 0px black;
  animation: reveal 0.5s ease-out;
}

#modal-content h2 {
  margin-top: 0;
  text-decoration: underline;
}

#modal-content p {
  background-color: rgba(255, 255, 255, 0.1);
  padding: 10px;
  border-radius: 8px;
  margin: 10px 0;
}

#cerrarModal {
  width: 100%;
}
