body {
    background: white;
    margin: 0;
}

header {
    position: relative;
    width: 100%;
    height: 300px;
    overflow: hidden;
}

header h1 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: rgb(255, 54, 54);
    text-shadow: 2px 2px 4px #000000;
    font-size: 4em; 
    z-index: 2;
    animation: zoom-in 4s ease-in-out infinite alternate;
    animation: letter-spacing 4s ease-in-out infinite alternate;
}

header p {
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 1.5em;
    font-style: italic;
    z-index: 2;
}

header img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: blur(2px) brightness(0.6);
}

main {
    align-items: center;
    padding: 20px;
    background: rgb(61, 55, 55);
    border-radius: 15px;
    margin-top: 30px;
    margin-inline: auto;
    width: 1100px;
    height: auto;
    animation: box-shadow 1s ease-in forwards;
}

@keyframes box-shadow {
    from {
        box-shadow: none;
    }
    to {
        box-shadow: rgb(87, 0, 0) 8px 15px;
    }
}

.sinopsis h2, .personajes h2 {
    position: relative;
    letter-spacing: 0.5;
    color: rgb(255, 54, 54);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.6rem;
}
.sinopsis h2, .personajes h2 {
    position: relative;
    letter-spacing: 0.5;
    color: rgb(255, 54, 54);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.6rem;
}

.sinopsis p {
    color: white;
    padding-left: 30px;
    font-family: departure Mono, monospace;
    font-size: 0.8rem;
}

.personajes ul {
    color: white;
    list-style-type: square;
    font-family: Departure Mono, monospace;
    font-size: 0.8rem;
}

.boton h2 {
    color: white;
    font-style: italic;
    font-size: 1.2rem;
    text-align: center;
    font-family: Arial;
    padding-top: 20px;
    animation: zoom-in 2s ease-in-out infinite alternate;
}

.boton a {
    border-radius: 25px;
    color: white;
    background: rgb(255, 54, 54);
    font-family: Departure Mono, monospace;
    font-size: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 200px;
    height: 50px;
    margin-top: 20px;
    margin-inline: auto;
    text-decoration: none;
    transition: transform 0.5s ease;
}

.boton a:hover {
    transform: scale(1.1);
}

@keyframes zoom-in {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(1.09);
    }
}

@keyframes letter-spacing {
    from {
        letter-spacing: 2px;
    }
    to {
        letter-spacing: 6px;
    }
}

footer {
    background: rgb(61, 55, 55);
    height: 70px;
    color: white;
    margin-top: 30px;
    margin-inline: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Departure Mono, monospace;
    font-size: 0.9rem;
}