body {
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding-top: 50px;
    font-family: Arial, sans-serif;
}

form {
    width: 500px;
    padding: 55px;
    border-radius: 20px;
    background: linear-gradient(180deg, #5d0fa3, #260555);
    color: white;
    box-shadow: 0 8px 25px rgba(0, 0, 0, 0.3);
}

form h2 {
    font-family: Arial, sans-serif;
    font-weight: bold;
    color: #ffea2d;
    font-size: 32px;
    text-align: center;
    margin-bottom: 25px;
}

ol {
    padding-left: 20px;
}

ol li {
    font-size: 15px;
    margin-bottom: 17px;
}

input[type="checkbox"],
input[type="radio"] {
    transform: scale(1.2);
    vertical-align: middle;
    margin-right: 8px;
    margin-top: 5px;
    cursor: pointer;
}

input[type="checkbox"] + label,
input[type="radio"] + label {
    font-size: 15px;
    display: inline-block;
    margin-bottom: 6px;
}

input[type="text"],
input[type="number"],
textarea {
    width: 100%;
    background: rgba(255, 255, 255, 0.18);
    backdrop-filter: blur(5px);
    border-radius: 12px;
    border: none;
    outline: none;
    padding: 12px;
    font-size: 15px;
    color: white;
    margin-top: 8px;
}

input::placeholder,
textarea::placeholder {
    color: rgba(220, 220, 220, 0.75);
}

textarea {
    height: 110px;
    resize: vertical;
}

input[type="range"] {
    width: 100%;
    margin-top: 10px;
}

button {
    width: 30%;
    height: 48px;
    font-size: 16px;
    font-weight: bold;
    border-radius: 12px;
    border: none;
    cursor: pointer;
    margin-inline: 45px;
}

button[type="submit"] {
    background-color: #ffcf00;
    color: black;
}

button[type="reset"] {
    background-color: white;
    color: black;
}
