body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    padding: 40px;
}

form {
    background-color: white;
    padding: 20px 25px;
    border-radius: 10px;
    width: 350px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

h2 {
    text-align: center;
    margin-bottom: 20px;
}

label {
    display: inline-block;
    margin-top: 20px;
    margin-inline-end: 15px;
    font-weight: bold;
}

input[type="radio"],
input[type="checkbox"] {
    margin-right: 5px;
    margin-top: 8px;
}

form label + input {
    margin-left: 0;
}

button {
    width: 48%;
    padding: 10px;
    margin-top: 20px;
    border: none;
    border-radius: 5px;
    font-size: 15px;
    cursor: pointer;
}

button[type="submit"] {
    background-color: #007bff;
    color: white;
}

button[type="submit"]:hover {
    background-color: #0056b3;
}

button[type="reset"] {
    background-color: #ccc;
}

button[type="reset"]:hover {
    background-color: #a9a9a9;
}
