body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    gap: 25px;
    justify-content: center;
    align-items: center;
}

form {
    background-color: white;
    padding: 15px 20px;
    border-radius: 10px;
    width: 300px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

label {
    display: block;
    font-weight: bold;
    margin-bottom: 10px;
}

/* Estilo del select */
select {
    width: 100%;
    padding: 10px;
    font-size: 15px;
    border-radius: 5px;
    border: 1px solid #ccc;
    background-color: #fff;
    cursor: pointer;
}

/* Enfoque del select */
select:focus {
    outline: none;
    border-color: #007bff;
}

/* Estilo simple para optgroup */
optgroup {
    font-weight: bold;
    color: #333;
    padding: 5px 0;
}
