body {
    background-color: rgb(240, 212, 230);
}

#titulo {
    color: blueviolet;
    font-family: Verdana;
    text-decoration: underline black;
}

.lista {
    font-family: Arial;
    font-weight: bold;
}

#boton {
    border-radius: 15px;
    border: 3px blueviolet solid;
    font-size: 20px;
}

.BotonDiv {
    text-align: center;
}